<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Profiles</title>
    <%- include('partials/cdnNstyles.ejs') %>
</head>

<body class="bg-gray-600 h-auto bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-10 overflow-hidden">
    <div class="bg-gray-600 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-10">
        <div class="w-screen h-screen flex justify-center items-center" id="mendeja">
            <div class="flex justify-between items-center gap-5 h-full w-3/5 animate-[.4s_slideup_ease-in-out]">
                <div class="rounded-2xl w-[30%] h-4/5 py-12 bg-gray-600 bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-10 overflow-hidden">
                    <div class="flex flex-col w-full h-full justify-center gap-9 animate-slidedown">
                        <div class="h-36 w-full flex justify-center align-middle">
                            <img class="h-full rounded-full" src="assets/mendeja.jpg" alt="My profile image">
                        </div>
                        <div class="flex text-white font-inria-sans justify-center text-[14px]">
                            <div class="text-right px-3 flex flex-col gap-2">
                                <p>FIRST NAME</p>
                                <p>LAST NAME</p>
                                <p>M.I</p>
                                <p>NICKNAME</p>
                                <p>LOCATION</p>
                                <p>PHONE #</p>
                                <p>LANGUAGE</p>
                                <p>GENDER</p>
                                <p>STATUS</p>
                                <p>SOCIAL MEDIA</p>
                            </div>
                            <div class="px-3 border-solid border-l-2 flex flex-col gap-2">
                                <p>JOHN RAYVIE</p>
                                <p>MENDEJA</p>
                                <p>N/A</p>
                                <p>LEIVI</p>
                                <p>MALABON CITY</p>
                                <p>09123456789</p>
                                <p>TAGLISH</p>
                                <p>MALE</p>
                                <p>SINGLE</p>
                                <p>FACEBOOK</p>
                                <p>INSTAGRAM</p>
                                <p>TIKTOK</p>
                            </div>
                        </div>
                        <div class="flex w-full justify-center animate-down">
                            <a href="#tacs">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-down">
                                    <path d="M6 9l6 6l6 -6"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-2/3 h-4/5 py-[20%] rounded-2xl bg-gray-600 bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-10 overflow-hidden">
                    <div class="w-full h-4/5 font-inria-sans text-white">
                        <div class="flex flex-col h-full w-full items-center justify-center gap-14 slidedown">
                            <div class="flex w-2/3 justify-between text-4xl">
                                <p class="underline underline-offset-8">EDUCATION</p>
                            </div>
                            <div class="flex w-2/3 flex-col gap-5">
                                <div class="flex flex-col w-full uppercase">
                                    <h1 class="text-3xl font-black">elementary</h1>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2010 - 2012:</b> bangkulasi elementary school</p>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2012 - 2017:</b> malabon elementary school</p>
                                </div>
                                <div class="flex flex-col w-full uppercase">
                                    <h1 class="text-2xl font-black">junior highschool</h1>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2017 - 2020:</b> MALABON NATIONAL HIGH SCHOOL</p>
                                </div>
                                <div class="flex flex-col w-full uppercase">
                                    <h1 class="text-2xl font-black">senior highschool</h1>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2020 - 2022:</b> arellano university: jose rizal campus</p>
                                </div>
                                <div class="flex flex-col w-full uppercase">
                                    <h1 class="text-2xl font-black">college</h1>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2022 - 2024:</b> city of malabon university</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-screen h-screen flex justify-center items-center" id="tacs">
            <div class="flex justify-between items-center gap-5 h-full w-3/5 animate-[.4s_slideup_ease-in-out]">
                <div class="rounded-2xl w-[30%] h-4/5 py-12 bg-gray-600 bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-10 overflow-hidden">
                    <div class="flex flex-col w-full h-full justify-center gap-9">
                        <div class="h-36 w-full flex justify-center align-middle animate-slideup">
                            <img class="h-full rounded-full" src="assets/tacs.png" alt="My profile image">
                        </div>
                        <div class="flex text-white font-inria-sans justify-center text-[14px]">
                            <div class="text-right px-3 flex flex-col gap-2">
                                <p>FIRST NAME</p>
                                <p>LAST NAME</p>
                                <p>M.I</p>
                                <p>NICKNAME</p>
                                <p>LOCATION</p>
                                <p>PHONE #</p>
                                <p>LANGUAGE</p>
                                <p>GENDER</p>
                                <p>STATUS</p>
                                <p>SOCIAL MEDIA</p>
                            </div>
                            <div class="px-3 border-solid border-l-2 flex flex-col gap-2">
                                <p>JUSHTINE KYLLE</p>
                                <p>TACULAD</p>
                                <p>N/A</p>
                                <p>TACSSUKI</p>
                                <p>MALABON CITY</p>
                                <p>09123456789</p>
                                <p>TAGLISH</p>
                                <p>MALE</p>
                                <p>SINGLE</p>
                                <p>FACEBOOK</p>
                                <p>INSTAGRAM</p>
                                <p>TIKTOK</p>
                            </div>
                        </div>
                        <div class="flex w-full justify-center">
                            <a href="#mendeja">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-chevron-up">
                                    <path d="M6 15l6 -6l6 6"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-2/3 h-4/5 py-[20%] rounded-2xl bg-gray-600 bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-10 overflow-hidden ">
                    <div class="w-full h-4/5 font-inria-sans text-white">
                        <div class="flex flex-col h-full w-full items-center justify-center gap-14 ">
                            <div class="flex w-2/3 justify-between text-4xl">
                                <p class="underline underline-offset-8">EDUCATION</p>
                            </div>
                            <div class="flex w-2/3 flex-col gap-5">
                                <div class="flex flex-col w-full uppercase">
                                    <h1 class="text-3xl font-black">elementary</h1>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2010 - 2012:</b> bangkulasi elementary school</p>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2012 - 2017:</b> malabon elementary school</p>
                                </div>
                                <div class="flex flex-col w-full uppercase">
                                    <h1 class="text-2xl font-black">junior highschool</h1>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2017 - 2020:</b> MALABON NATIONAL HIGH SCHOOL</p>
                                </div>
                                <div class="flex flex-col w-full uppercase">
                                    <h1 class="text-2xl font-black">senior highschool</h1>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2020 - 2022:</b> arellano university: jose rizal campus</p>
                                </div>
                                <div class="flex flex-col w-full uppercase">
                                    <h1 class="text-2xl font-black">college</h1>
                                    <p class="px-4 text-slate-300"><b class="text-[20px]">2022 - 2024:</b> city of malabon university</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
                        <%- include('partials/closeBtn.ejs') %>     
                        
                        <script defer src="/js/scripts.js"></script>
                    </body>
                    
</html>
